<% content_for :title, "Users" %>

<header class="content-header">
  <div class="content-header__details">
    <h1 class="content-header__title">Users</h1>
  </div>
</header>

<div class="flex flex-col gap-md" id="users">
  <%= render @users %>
</div>
