<% content_for :title, "Newspapers" %>

<header class="content-header">
  <div class="content-header__details">
    <h1 class="content-header__title">Newspapers</h1>
  </div>
</header>

<div class="flex flex-col gap-md" id="newspapers">
  <%= render @newspapers %>
</div>
