<nav class="breadcrumbs breadcrumbs--large margin-y-md">
  <%= link_to 'Newspapers', newspapers_path, class: "breadcrumbs__link" %>
  <div class="breadcrumbs__separator">
    <span class="material-symbols-outlined icon">chevron_right</span>
  </div>
  <span class="breadcrumbs__text">
    <%= @newspaper.name %>
  </span>
</nav>

<header class="content-header">
  <div class="content-header__details">
    <h1 class="content-header__title">
      <%= @newspaper.name %>
    </h1>
  </div>
</header>

<div class="flex flex-col gap-md">
  <div class="text-pair text-pair--inline">
    <span class="text-pair__title">Name:</span>
    <span class="text-pair__subtitle"><%= @newspaper.name %></span>
  </div>
</div>
