<% content_for :title, "Podcasts" %>

<header class="content-header">
  <div class="content-header__details">
    <h1 class="content-header__title">Podcasts</h1>
  </div>
</header>

<div class="flex flex-col gap-md" id="podcasts">
  <%= render @podcasts %>
</div>
